.post_form{
    display: flex;
    flex-direction: row;
    gap: 10px;  
    justify-content: center;
}
.post_form input{
    outline: none;
    padding: 15px 40px;
    width: 250px;
    border: none;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #9BF2D7, #7CBCF1) 1;
    background-color: #343A50;
    color:white;
    transition: 0.2s linear;
    position: relative;
}
.post_form button{
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    transition: 0.2s linear;
    position: absolute;
    right: 15%;
    top: 48%;
    font-size: 20px;
    opacity: 0.6;
}

.post_form button:hover{
    opacity: 1;
}
.error_message {
    color: red;

}
